.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
}

.shared__settings {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0;
}

.balance__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 145px;
    padding: 8px 12px;
    border-radius: 48px;
    background: #FFF;
    line-height: 148%;
    white-space: nowrap;
    border: none;
    cursor: pointer;
}

.balance__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

}


.balance_add {
    margin-left: 9px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: #002CFB;
}

.balance__button:hover span {
    color: #005FF8;
}

.balance__button:hover .balance_add {
    color: #005FF8;
}

.balance__button:active span {
    color: #122945;
}

.balance__button:active .balance_add {
    color: #274BC8;
}


button p {
    color: #899CB1;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

button span {
    color: #122945;
    font-size: 14px;
    font-style: normal;
    font-family: 'SF Pro Display Medium', sans-serif;
    font-weight: 500;
}
