
.title__item {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

.title__item p {
    color: #899CB1;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;

}
